@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
	background-color: rgb(217, 214, 214);
	color: #4e545c;
	margin: 0;
	font-family: 'Roboto';
}



main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
  font-size: 1.6rem;
}



.nav {
	width: 100%;
	background-color: #7107ea;
	color: #e5e8e8;
  font-size: medium;
  height: 50px;
  padding: 16px;
	text-align: center;
	font-weight: 400;
}

input {
  width: 200px;
  height: 30px;
  font-size: large;
  margin: 20px;
}

button {
	border-radius: 40px;
  margin: 10px;
	font-size: medium;
	height: 40px;
	width: 200px;
	border: none;
	background-color: #7107ea;
	color: #e5e8e8;
}
